<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>
            <main class="main-body">
                <main class="main-container">
                    <div class="form-header">
                        <h2 class="form-title">Carrito de Compras</h2>
                        <i class="fa-solid fa-square-xmark"></i>
                    </div>
                    <div class="product-detail">
                        <div class="title">
                            <h4 class="product">PRODUCTO</h4>

                        </div>
                            <div class="productos">
                                <% jsProductos.forEach(function(producto) { %>
        
                                    <article class="product-list">
                                        <div class="art_principal">
                                            <div class="imagen-producto">
                                                <a href="/products/detail/<%= producto.id %>"><img src="<%= producto.image %>" id="<%= producto.name%>" height="150" width="150"></a>
                                            </div>
        
                                            <div class="product-price-name">
                                                <p class="prices">$<%= producto.price %>
                                                </p>
                                                <p class="discount">
                                                    <%= producto.name %>
                                                </p>
                                            </div>
                                            <p class="description">
                                                <%= producto.description %>
                                            </p>
                                        </div>
                                    </article>
                                    <% }); %>
                            </div>
                        <div class="bottom-subtotal">
                            <H4 class="subtotal">SUBTOTAL(Sin envio)</H4>
                            <p class="subtotal-price"><%= price %> $</p>
                        </div>
                        <div class="bottom-total">
                            <H4 class="total">Costo Total</H4>
                            <h4 class="total-price"><%= price + 150 %> $</h4>
                        </div>
                    </div>
                    <div class="buttom-submit">
                        <button id="btnCompra">Confirmar Compra</button>
                    </div>
                </main>
            </main>



    </body>

    <script>
        window.onload = (event) => {
            let accionBoton = document.getElementById('btnCompra')
            accionBoton.addEventListener('click',function(){
                Swal.fire(
                    'Felicidades!',
                    'Su pedido esta en camino',
                    'success'
                )
            })
        }
    </script>
    <%- include('../partials/footer')%>