<%- include('../partials/head',{cssFile:'userStyles.css'})%>

<body>
  <%- include('../partials/header')%>
  <main class="main-body">
    <main class="main-register">
      <form action="/users/login" method="POST" class="form background-image-login">
        <div class="form-login">
          <h4>Ingreso</h4>
          <div class="form-group botton-margin">
            <label for="email"> <b> Email Usuario</b> </label>
            <input
              class="form-control border-color <%= locals.errors && errors.email ? 'is-invalid' : null %>"
              type="email"
              name="email"
              id="userEmail"
              placeholder="Ingrese su Usuario"
            />
            <div class="text-danger">
              <%= (locals.errors && errors.email) ? errors.email.msg : '' %>
            </div>
          </div>
          <div class="form-group botton-margin">
            <label for="password"> <b> Contrase침a </b></label>
            <input
              class="form-control border-color <%= locals.errors && errors.password ? 'is-invalid' : null %>"
              type="password"
              name="password"
              id="userPassword"
              placeholder="Ingrese su Contrase침a"
            />
            <div class="text-danger">
              <%= (locals.errors && errors.password) ? errors.password.msg : ''
              %>
            </div>
          </div>
          <p><a href="#">Olvidaste tu contrase침a?</a></p>
          <br />
          <p>
            <input type="checkbox" name="rememberMe" value="on" />
            <label>Recordar usuario</label>
          </p>
          <div class="botton-margin flex-center">
            <button class="btn btn-success button-size" type="submit">
              Ingresar
            </button>
          </div>
          <p><a href="/users/register">Aun no tienes una cuenta?, Vamos a Crear Una !!!</a></p>
          <div class="login-google">
            <h4>Ingres치 con</h4>
            <div class="logoicon">
              <a href="#"
                ><img
                  width="45"
                  height="45"
                  src="/img/facebook.png"
                  alt="Facebook Logo"
              /></a>
              <a href="#"
                ><img
                  width="45"
                  height="45"
                  src="/img/buscar.png"
                  alt="Google Logo"
              /></a>
            </div>
          </div>
        </div>
      </form>
      <script src="../scripts/loginValidation.js"></script>
    </main>
  </main>

  <%- include('../partials/footer')%>
</body>
