<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>
            <main class="main-body">
                <main class="main-register">
                    <form action="/users/login" method="post" class="form">
                        <div class="form-login">
                            <h4>Ingreso</h4>
                            <div class="label-input">
                                <label for="email"><b> Email Usuario</b></label>
                                <input class="controls" type="email" name="userEmail" id="userEmail"
                                    placeholder="Ingrese su Mail">
                                    <div class="text-danger">
                                        <%= (locals.errors && errors.userEmail) ? errors.userEmail.msg : '' %>
                                    </div>
                            </div>
                            <div class="label-input">
                                <label for="password"><b>Contrase침a</b></label>
                                <input class="controls" type="password" name="userPassword" id="userPassword"
                                    placeholder="Ingrese su Contrase침a">
                                    <div class="text-danger">
                                        <%= (locals.errors && errors.userPassword) ? errors.userPassword.msg : '' %>
                                    </div>
                            </div>
                            <p><a href="#">Olvidaste tu contrase침a?</a></p>
                            <br>
                            <p><input type="checkbox" name="rememberMe" value="on">
                                <label>Recordar usuario</label>
                            </p>
                            <p><button type="submit" class="button">Ingresar</button></p>
                            <p><a href="#">Aun no tengo una cuenta</a></p>
                            <div class="login-google">
                                <h4>Ingres치 con</h4>
                                <div class="logoicon">
                                    <a href="#"><img width="45" height="45" src="/img/facebook.png"
                                            alt="Facebook Logo"></a>
                                    <a href="#"><img width="45" height="45" src="/img/buscar.png" alt="Google Logo"></a>
                                </div>
                            </div>
                        </div>
                </main>
            </main>

            <%- include('../partials/footer')%>
    </body>