<%- include('../partials/head',{cssFile:'userStyles.css'})%>

    <body>
        <%- include('../partials/header')%>

            <!-- Container -->
            <main class="main-body">
                <div class="container" style="margin-top: 40px;">
                    <div class="row">
                        <div class="col-md-3">
                            <h2>Bienvenido <%= user.fullName %>   </h2>
                            <img src="/img/users/<%=user.avatar%> ">
                            <br>
                            <br>
                            <div class="alert alert-success"> <%= user.email %>   </div>
                            <div class="alert alert-success"> Tu tienes el Rol de: <b> <%= user.userRole.role %> </b> </div>
                            <br>
                            <br>
                            <a href="/users/address" class="btn btn-primary">Agregar Direcciones</a>
                            <a href="/users/edit" class="btn btn-primary">Editar Usuario</a>
                        </div>
                    </div>
                </div>
                <!-- //Container -->
                </div>
                <%- include('../partials/footer')%>
    </body>

    </html>