<%- include('../partials/head',{cssFile:'userStyles.css'})%>


  <body>

    <%- include('../partials/header')%>
      <main class="main-body">

        <main class="main-register">
          <form action="/users/edit?_method=PUT" method="POST" class="form" enctype="multipart/form-data">
            <div class="form-register">
              <h4>Edicion de Usuarios</h4>
              <div class="form-group botton-margin">
                <label for=" fullName"> <b>Nombre y Apellido</b></label>
                <input class="form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>" type="text"
                  name="fullName" id="fullName" placeholder="<%= user.fullName %>"
                  value="<%= user.fullName %>">

                <div class="text-danger">
                  <%= (locals.errors && errors.fullName) ? errors.fullName.msg : '' %>
                </div>


              </div>
              <div class="form-group botton-margin">
                <label for=" birthDate"> <b> Fecha de Nacimiento </b></label>
                <input class="form-control <%= locals.errors && errors.birthDate ? 'is-invalid' : null %>" type="date"
                  name="birthDate" id="birthDate" placeholder="<%= user.birthDate %>" 
                  value="<%= user.birthDate %>">
                <div class="text-danger">
                  <%= (locals.errors && errors.birthDate) ? errors.birthDate.msg : '' %>
                </div>
              </div>
              <div class="form-group botton-margin">
                <label for=" email"> <b>Email</b> </label>
                <input class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" type="email"
                  name="email" id="email" placeholder="<%= user.email %>"
                  value="<%= user.email %>">
                <div class="text-danger">
                  <%= (locals.errors && errors.email) ? errors.email.msg : '' %>
                </div>
              </div>
              <div class="form-group botton-margin">
                <label for=" celular"><b>Celular</b> </label>
                <input class="form-control <%= locals.errors && errors.mobilePhone ? 'is-invalid' : null %>" type="text"
                  name="mobilePhone" id="celular" placeholder="<%= user.mobilePhone %>"
                  value="<%= user.mobilePhone %>">
                <div class="text-danger">
                  <%= (locals.errors && errors.mobilePhone) ? errors.mobilePhone.msg : '' %>
                </div>
              </div>
    
              <div class="form-group botton-margin">
                <label><b>País de nacimiento:</b></label>
                <select name="country" class="form-control <%= locals.errors && errors.country ? 'is-invalid' : null %>"
                  <option value="">Elegí un país</option>
              
                    <% for (const oneCountry of countries) { %>
                      <option value="<%=oneCountry.id%>"<%=locals.oldData && (oneCountry.id===oldData.country) ? 'selected' :null %>> <%= oneCountry.name %> </option>
                      <% } %>
                </select>
                <div class="text-danger">
                  <%= (locals.errors && errors.country) ? errors.country.msg : '' %>
                </div>

                <div class="form-group botton-margin">
                  <label><b>Perfil:</b></label>
                  <select name="profile"
                    class="form-control <%= locals.errors && errors.country ? 'is-invalid' : null %>" <option
                    value="">Elegí un Perfil</option>
                  
                      <% for (const profile of userRoles) { %>
                        <option value="<%= profile.id %>" <%=locals.oldData && (profile.id===oldData.profile) ? 'selected' :null %>> <%= profile.role %> </option>
                        <% } %>
                  </select>
                  <div class="text-danger">
                    <%= (locals.errors && errors.profile) ? errors.profile.msg : '' %>
                  </div>

                </div>
                <div class="form-group botton-margin">
                  <label for="userImage"> <b> Imagen De Usuario </b></label>
                  <input class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>" type="file"
                    name="avatar" id="userImage" value="<%= locals.oldData ? oldData.avatar : null %>">
                  <div class="text-danger">
                    <%= (locals.errors && errors.avatar) ? errors.avatar.msg : '' %>
                  </div>
                </div>
                <div class="form-group botton-margin">
                  <label for="password"> <b>Contraseña</b> </label>
                  <input class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                    type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
                  <div class="text-danger">
                    <%= (locals.errors && errors.password) ? errors.password.msg : '' %>
                  </div>
                </div>
                <div class="form-group botton-margin">
                  <label for="confirmPassword"> <b>Confirmar Contraseña</b> </label>
                  <input class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                    type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme su Contraseña">
                  <div class="text-danger">
                    <%= (locals.errors && errors.confirmPassword) ? errors.confirmPassword.msg : '' %>
                  </div>
                </div>

                <div class="botton-margin flex-center">
                  <input type="checkbox" name="rememberMe" value="Recordar usuario">
                  Estoy de acuerdo con <a href="#"> Terminos y Condiciones</a>
                </div>
                <div class="flex-center">
                  <button type="submit" class="btn btn-success button-size">Enviar</button>
                </div>

                <div class="botton-margin flex-center">
                  <a href="#">¿Ya tengo Cuenta?</a>
                </div>
              </div>
          </form>
        </main>
      </main>
  </body>
  <%- include('../partials/footer')%>