<%- include('../partials/head',{cssFile:'productsStyles.css'})%>


    <body>
        <%- include('../partials/header')%>
            <!-- <section class="banner">
        <img src="img/homeBanner.jpg" alt="Como conoci a tu vianda">
    </section> -->
            <main class="main-body">
                <section class="ult_visita">
                    <h4 class="headlines">Has Seleccionado el producto: <%=productToFind.name %>
                    </h4>

                    <div class="product-wrapper-2">
                        <% productToFind.name %>
                            <article class="product-article">
                               
                                    <img src="<%= productToFind.imagen %>" id="<%= productToFind.name%>"
                                        class="Img-Edit">
                           
                                <div class="art_principal">

                                    <p class="prices"> Precio $<%= productToFind.prices %>
                                    </p>

                                    <p class="description">
                                        <%= productToFind.description %>
                                    </p>
                                </div>

                            </article>
                            <div class="buttons">
                                <form action="/products/edit/<%=productToFind.id%>">
                                    <button type="submit" class="button-edit">Editar</button>
                                </form>
                                <form action="/products/delete/<%=productToFind.id%>?_method=DELETE" method="POST">
                                    <button type="submit" class="button-delete">Eliminar</button>
                                </form>
                            </div>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer')%>