<%- include('../partials/head')%>
<script src="scripts/productDetailsModals.js"></script>
<link rel="stylesheet" href="../../css/productStyle.css">
<body>
    <%- include('../partials/header')%>
    <!-- <section class="banner">
        <img src="img/homeBanner.jpg" alt="Como conoci a tu vianda">
    </section> -->
    <main class="main-body">
        <section class="ult_visita">
            <h4 class="headlines">Viandas del dia</h4>
            <p>Frescas y exquisitas a la puerta de tu casa</p>
            
                        
            <div class="productos">
                <% jsProductos.find(function(elemento) { if(elemento.id == req.params.id){ %>
                <article class="card">
                    <div class="card__header">
                    <img src="<%= elemento.imagen %>" alt="<%= elemento.name%>" class="card__image" id="<%= elemento.name%>">
                    </div>
                    <div class="card__body">
                    <h4><%= elemento.name %></h4>
                    <p><%= elemento.prices %></p>
                    <p><%= elemento.description %></p>
                    </div>
                    <div class="card__footer">
                    
                    </div>
                </article>
                <% }}); %>
            </div>
        </section>
    </main>
    <%- include('../partials/footer')%>