<%- include('../partials/head')%>
<script src="scripts/productDetailsModals.js"></script>
<body>
  <%- include('../partials/header')%>
  <!-- <section class="banner">
    <img src="img/homeBanner.jpg" alt="Como conoci a tu vianda">
  </section> -->
  <main class="main-body">
    <section class="ult_visita">
      <h4 class="headlines">Viandas del dia</h4>
      <p>Frescas y exquisitas a la puerta de tu casa</p>
      <div class="productos">
        <% jsProductos.forEach(function(elemento) { %>
          <article>
            <img width="240" height="240" src= "<%= elemento.imagen %>" id="<%= elemento.name%>">
            <div class="art_principal">
              <div class="buy_icon">
                <i class="fas fa-truck"></i>
              </div>
              <p class="prices">$<%= elemento.prices %></p>
              <p class="discount"><%= elemento.name %></p>
              <p class="description"><%= elemento.description %> </p>
            </div>
          </article>
        <% }); %>
      </div>
    </section>
  </main>
  <%- include('../partials/footer')%>