<%- include('../partials/head',{cssFile:'productsStyles.css'})%>

  <body>
    <%- include('../partials/header')%>
      <main class="main-body-edit">
        <h4 class="headlines">Estas Editando el producto: <%=productToEdit.name %>
        </h4>
       
          <div class="product-wrapper max-width">
            <h4>Edicion de productos</h4>
            <form action="/products/<%=productToEdit.id%>?_method=PUT" method="POST" class="form-edit"
              enctype="multipart/form-data">

             
              <div class="fields">
                <div class="item-group">
                  <div class="label-input">
                    <!-- <img class="image-edit" src="<%= productToEdit.image %>" id="<%= productToEdit.name%>"> -->
                    <label for="img">Subir imagen:</label>
                    <input type="file" id="img" name="img" accept="image/*">
                  </div>
                </div>
                <div class="item-group">
                  <div class="label-input">
                    <label for="name">Nombre del producto</label>
                    <input class="controls" type="text" name="name" id="name"
                      placeholder="Ingrese el nombre del producto" value="<%=productToEdit.name%>">
                  </div>
                  <div class="label-input">
                    <label for="price">Precio</label>
                    <input class="controls" type="number" name="price" id="price" placeholder="Ingrese el Precio"
                      value="<%=productToEdit.price%>">
                  </div>
                </div>
                <div class="item-group">
                  <div class="label-input">
                    <label for="description">Descripcion del producto</label>
                    <textarea class="controls" type="a" name="description" id="description"
                      placeholder="Ingrese la descripcion del producto" rows="4" cols="50"><%=productToEdit.description%>
                    </textarea>
                  </div>
                  <div class="label-input">
                    <label for="keywords">Palabras claves</label>
                    <textarea class="controls" type="a" name="tags" id="keywords"
                      placeholder="Ingrese palabras clave para el producto separa con ';'" rows="4" cols="50">
                      <%=productToEdit.tags%></textarea>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success button-size" id="submitBtn">Actualizar</button>
            </form>
            <script src = "../scripts/productManagementValidation.js"></script>

    

          </div>
 
      </main>
  </body>
  <%- include('../partials/footer')%>