
<div class="productos">
    <% jsProductos.forEach(function(elemento) { %>
    <article class="card">
        <div class="card__header">
          <img src="<%= elemento.imagen %>" alt="<%= elemento.name%>" class="card__image" id="<%= elemento.name%>">
        </div>
        <div class="card__body">
          <h4><%= elemento.name %></h4>
          <p><%= elemento.prices %></p>
          <p><%= elemento.description %></p>
        </div>
        <div class="card__footer">
          
        </div>
    </article>
      <% }); %>
</div>