<%- include('../partials/head',{cssFile:'productsStyles.css'})%>
    <!-- <script src="scripts/productDetailsModals.js"></script> -->

    <body>
        <%- include('../partials/header')%>

            <main class="main-body">
                <section class="ult_visita">
                    <h4 class="headlines">Viandas del dia</h4>

                    <div class="productos">
                        
                        <% jsProductos.forEach(function(producto) { %>
                            <article class="product-list">
                                <div class="art_principal">
                                    <div class="imagen-producto">
                                        <img src="<%= producto.image %>" id="<%= producto.name%>">
                                    </div>

                                    <div class="product-price-name">
                                        <p class="prices">$<%= producto.price %>
                                        </p>
                                        <p class="discount">
                                            <%= producto.name %>
                                        </p>
                                    </div>
                                    <p class="description">
                                        <%= producto.descripcion %>
                                    </p>

                                </div>

                                <% if (locals.userLogged && locals.userLogged.profile=='cliente' ) { %>
                                    <div class="add-carrito btn-bottom">
                                        <a href="/users/carrito">
                                            <button class="btn btn-primary ">Agregar al carrito</button>
                                        </a>
                                    </div>
                                    <% } else if (locals.userLogged && locals.userLogged.profile=='admin' ) { %>
                                        <div class="add-carrito btn-bottom ">
                                            <a href="/products/<%=producto.id%>">
                                                <button class="btn btn-primary ">Acceder a Edicion</button>
                                            </a>
                                        </div>
                                        <% } else if (locals.userLogged==undefined) { %>
                                            <div class="add-carrito btn-bottom">
                                                <a href="/users/login">
                                                    <button class="btn btn-primary ">Agregar al carrito</button>
                                                </a>
                                            </div>
                                            <% } %>

                            </article>
                            <% }); %>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer')%>