<%- include('../partials/head',{cssFile:'productsStyles.css'})%>
    <!-- <script src="scripts/productDetailsModals.js"></script> -->

    <body>
        <%- include('../partials/header')%>

            <main class="main-body">
                <section class="ult_visita">
                    <h4 class="headlines">Viandas del dia</h4>

                    <div class="productos">
                        <% jsProductos.forEach(function(producto) { %>

                            <article class="product-list">
                                <div class="art_principal">
                                    <a href="/products/<%=producto.id%>">
                                        <img width="240" height="240" src="<%= producto.imagen %>"
                                            id="<%= producto.name%>">

                                    </a>
                                    <div class="product-price-name">
                                        <p class="prices">$<%= producto.prices %>
                                        </p>
                                        <p class="discount">
                                            <%= producto.name %>
                                        </p>
                                    </div>
                                    <p class="description">
                                        <%= producto.description %>
                                    </p>

                                </div>
                                <div class="add-carrito btn-bottom">
                                    <a href="/products/<%=producto.id%>">
                                        <button class="btn btn-primary ">Agregar al carrito</button>
                                    </a>
                                </div>
                            </article>
                            <% }); %>
                    </div>




                </section>
            </main>
            <%- include('../partials/footer')%>