<%- include('../partials/head',{cssFile:'userStyles.css'})%>

 
  <body>
    <%- include('../partials/header')%>
      <main class="main-body">

        <form action="/products" method="post" class="form background-image-products" enctype="multipart/form-data">

          <div class="form-register">
            <h4>Manejo de Productos</h4>
            <div class="form-group botton-margin">
              <label for="name"> <b> Nombre del producto </b> </label>

              <input class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>" type="text" name="name" id="name" placeholder="Ingrese el nombre del producto"
              value="<%= locals.oldData ? oldData.name : null %>">
              <div class="text-danger">
                <%= (locals.errors && errors.name) ? errors.name.msg : '' %>
              </div>
            </div>
         
            <div class="form-group botton-margin">
              <label for="price"> <b>  Precio </b> </label>
              <input class="form-control <%= locals.errors && errors.price? 'is-invalid' : null %>" type="number" name="price" id="price" placeholder="Ingrese el Precio" 
              value="<%= locals.oldData ? oldData.price : null %>">
              <div class="text-danger">
                <%= (locals.errors && errors.price) ? errors.price.msg : '' %>
              </div>
            </div>
         
            <div class="form-group botton-margin">
              <label for="description"> <b> Descripcion del producto </b> </label>
              <textarea class="form-control <%= locals.errors && errors.description? 'is-invalid' : null %>" type="text" name="description" id="description"
              placeholder="Ingrese la descripcion del producto" rows="4" cols="50" ></textarea
              value="<%= locals.oldData ? oldData.description : null %>">
              <div class="text-danger">
                <%= (locals.errors && errors.description) ? errors.description.msg : '' %>
              </div>
            </div>
            <div class="form-group botton-margin">
              <label for="keywords"> <b> Palabras claves </b></label>
              <textarea class="form-control <%= locals.errors && errors.keywords? 'is-invalid' : null %>" type="a" name="tags" id="keywords"
                placeholder="Ingrese palabras clave para el producto separa con ';'" rows="4" cols="50" ></textarea
                value="<%= locals.oldData ? oldData.tags : null %>">
                <div class="text-danger">
                  <%= (locals.errors && errors.tags) ? errors.tags.msg : '' %>
                </div>
            </div>
            <div class="form-group botton-margin">
              <label for="img"> <b> Subir imagen: </b></label>
              <input class="form-control <%= locals.errors && errors.img ? 'is-invalid' : null %>"type="file" id="img" name="img"
              value="<%= locals.oldData ? oldData.img : null %>">
              
              <div class="text-danger">
                <%= (locals.errors && errors.img) ? errors.img.msg : '' %>
              </div>
            </div>
            <button type="submit" class="btn btn-success button-size" id="submitBtn">Enviar</button>
           
          </div>
        </form>
        <script src = "../scripts/productManagementValidation.js"></script>
      </main>
  </body>
  <%- include('../partials/footer')%>
