<%- include('../partials/head',{cssFile:'productsStyles.css'})%>
    <!-- <script src="scripts/productDetailsModals.js"></script> -->

    <body>
        <%- include('../partials/header')%>

            <main class="main-body">
                <section class="ult_visita">
                    <h4 class="headlines">Viandas del dia</h4>

                    <div class="productos">
                        <% jsProductos.forEach(function(producto) { %>

                            <article class="product-list">
                                <div class="art_principal">
                                    <div class="imagen-producto">
                                        <% if (locals.userLogged && locals.userLogged.role_id === 2 ) { %>
                                            <script>
                                                window.onload = (event) => {
                                                    let articulos = document.getElementsByTagName('article')
                                                    for (let articulo of articulos) {
                                                        articulo.firstElementChild.addEventListener('click',function(){
                                                            Swal.fire({
                                                                title: articulo.children[0].id,
                                                                text: articulo.innerText.replace('Agregar al carrito', ''),
                                                                imageUrl: articulo.childNodes[1].children[0].lastElementChild.src,
                                                                imageWidth: 400,
                                                                imageHeight: 200,
                                                            })
                                                        })
                                                    }
                                                };
                                            </script>
                                            <img src="<%= producto.image %>" id="<%= producto.name%>"></a>
                                        <% } else if (locals.userLogged && locals.userLogged.role_id===1 ) { %>
                                            <a href="/products/detail/<%= producto.id %>"><img src="<%= producto.image %>" id="<%= producto.name%>"></a>
                                        <% } else if (locals.userLogged==undefined) { %>
                                            <script>
                                                window.onload = (event) => {
                                                    let articulos = document.getElementsByTagName('article')
                                                    for (let articulo of articulos) {
                                                        articulo.firstElementChild.addEventListener('click',function(){
                                                            Swal.fire({
                                                                title: articulo.children[0].id,
                                                                text: articulo.innerText.replace('Agregar al carrito', ''),
                                                                imageUrl: articulo.childNodes[1].children[0].lastElementChild.src,
                                                                imageWidth: 400,
                                                                imageHeight: 200,
                                                            })
                                                        })
                                                    }
                                                };
                                            </script>
                                            <img src="<%= producto.image %>" id="<%= producto.name%>"></a>
                                        <% } %>
                                    </div>

                                    <div class="product-price-name">
                                        <p class="prices">$<%= producto.price %>
                                        </p>
                                        <p class="discount">
                                            <%= producto.name %>
                                        </p>
                                    </div>
                                    <p class="description">
                                        <%= producto.description %>
                                    </p>

                                </div>

                                <% if (locals.userLogged && locals.userLogged.role_id === 2 ) { %>
                                    <div class="add-carrito btn-bottom">
                                        <a href="/users/addCarrito/<%= locals.userLogged.id %>/<%=producto.id%>">
                                            <button class="btn btn-primary ">Agregar al carrito</button>
                                        </a>
                                    </div>
                                <% } else if (locals.userLogged && locals.userLogged.role_id===1 ) { %>
                                    <div class="add-carrito btn-bottom ">
                                        <a href="/products/<%=producto.id%>">
                                            <button class="btn btn-primary ">Acceder a Edicion</button>
                                        </a>
                                    </div>
                                <% } else if (locals.userLogged==undefined) { %>
                                    <div class="add-carrito btn-bottom">
                                        <a href="/users/login">
                                            <button class="btn btn-primary ">Agregar al carrito</button>
                                        </a>
                                    </div>
                                <% } %>

                            </article>
                            <% }); %>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer')%>