<%- include('./partials/head')%>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="scripts/productDetailsModals.js"></script>
<body>
    <%- include('./partials/header')%>
    <!-- <section class="banner">
        <img src="img/homeBanner.jpg" alt="Como conoci a tu vianda">
    </section> -->
    <main class="main-body">
        <section class="ult_visita">
            <h4 class="headlines">Viandas del dia</h4>
            <p>Frescas y exquisitas a la puerta de tu casa</p>
            <div class="productos">
                <article>
                    <img width="240" height="240" src="img/lasagna.jpg" alt="Lasagna" id="La que no falla">
                    <div class="art_principal">
                        <div class="buy_icon" id="buying">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="prices">$500</p>
                        <p class="discount"> La que no falla</p>
                        <p class="description">En algunos lados le dicen lasagna en otros pasticho nosotros simplemente
                            le decimos deliciosa</p>
                    </div>
                </article>

                <article>
                    <img width="240" height="240" src="img/carne.jpg" alt="plato carnivoro" id="La pesadilla vegetariana">
                    <div class="art_principal">
                        <div class="buy_icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="prices">$700</p>
                        <p class="discount">La pesadilla vegetariana</p>
                        <p class="description">Quieres comerte un asado pero te falta el asador el carbon la carne y los
                            amigos, bueno quizas no podamos ayudarte con la mayoria de esas cosas pero con este plato se
                            te van a ir las ganas de carne</p>
                    </div>
                </article>

                <article>
                    <img width="240" height="240" src="img/MilanesaNapo.jpg" alt="Mila Napo" id="La vieja confiable">
                    <div class="art_principal">
                        <div class="buy_icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="prices">$400</p>
                        <p class="discount"> La vieja confiable</p>
                        <p class="description">No sabes que pedir, bueno pidete una mila napo con papas no le fallo
                            nunca a nadie y tampoco te va a fallar a ti</p>
                    </div>
                </article>

                <article>
                    <img width="240" height="240" src="img/pollo.jpg" alt="menu saludable" id="El hoy 'me cuido'">
                    <div class="art_principal">
                        <div class="buy_icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="prices">$450</p>
                        <p class="discount">El hoy "me cuido"</p>
                        <p class="description">Te comiste 5 chuletones y dos litros de helado, bueno bajale a la culpa
                            con este rico pollito a la plancha, quizas no bajes de peso pero te sentiras menos culpable
                            y la culpa pesa un monton</p>
                    </div>
                </article>
                    <!-- <ul>
                        <% jsProductos.forEach(function(elemento) { %>
                            <li>
                                <strong><%= elemento.name %></strong>
                                el precio es: <%= elemento.prices %>, y la descripcion es: <%= elemento.description %>
                            </li>
                        <% }); %>
                    </ul> -->
            </div>
        </section>
    </main>
    <%- include('./partials/footer')%>